<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Peer To Peer Chat Application</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
  <h1>Enter</h1>
  <span th:each="user:${currentUser}" th:text="${user}"></span>
  <form th:action="@{/enter}" th:method="POST">
    <span>Enter your name:</span>
    <input th:type="text" th:placeholder="Username" th:name="username"/>
    <input th:type="submit" th:value="Enter"/>
  </form>
</body>
</html>