<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Peer To Peer Chat Application</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
  <h1>Peer to Peer Chat Application</h1>
  <form th:action="@{/}" th:method="post">
    <span>Your username:</span>
    <input th:type="text" th:placeholder="Username" th:name="username"/>
    <!--<input th:type="submit" th:value="Update"/>-->
    <p></p>
    <span>Your message: </span>
    <textarea th:type="textboxid" th:name="message" style="width: 300px; height: 50px;"></textarea>
    <input th:type="submit" th:value="Send"/>
  </form>
  <h2>Recent messages</h2>
  <ul th:each="message : ${messages}">
    <li th:text="${message.userName} + '   (' + ${message.date} + ')'" ></li>
    <li class="message" th:text="${message.message}"></li>
  </ul>
  <a href="/enter">Enter username</a>
</body>
</html>