<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Peer To Peer Chat Application</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <meta charset="utf-8" />
</head>
<body>
  <h1>Peer to Peer Chat Application</h1>
  <h2 th:text="'Logged in as: ' + ${currentUser}"></h2>
  <form th:action="@{/}" th:method="put">
    <span>Your username:</span>
    <input th:type="text" th:placeholder="'New Username'" th:name="username"/>
    <input th:type="submit" th:value="Update"/>
  </form>
    <p></p>
  <form th:action="@{/}" th:method="post">
    <h2>Recent messages</h2>
    <span>Your message: </span>
    <textarea th:type="text" th:name="message" style="width: 300px; height: 50px;"></textarea>
    <input th:type="submit" th:value="Send"/>
  </form>
  <ul th:each="message : ${messages}">
    <li th:text="${message.userName}" ></li>
    <li class="message" th:text="${message.message}"></li>
  </ul>
</body>
</html>